.container{
    display: flex;
    flex-direction: column;
    width: 480px;
    border: solid 1px black;
}

.item{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: yellow;
}
.image{
    height: 240px;
    width: 200px;
    object-fit: cover;
}
.text{
    margin-left: 20px;
}